/* This comment is here because the file cannot be empty */

/* Do  not alter the code below, these are the fixed font sizes for the typography */
body {
  font-family: 'Work Sans', serif;
  font-size: 12px;
}

h1 {
  font-family: 'Work Sans', serif;
  font-size: 3em;
  font-weight: 800
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

footer-text {
  font-size: 0.75em;
  font-weight: 700;
}

navbar-text {
  font-size: 1.25em;
  font-weight: 700;
}
